<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'warning'">warning</div>
  <div *ngSwitchDefault>danger</div>
</div>

<button type="button" (click)="alerta='success'" class="btn btn-success" name="button">Cambiar</button>

<div [ngSwitch]="alerta">
  <div class="alert alert-success" *ngSwitchCase="'success'" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-warning" *ngSwitchCase="'warning'" role="alert">
    A simple warning alert—check it out!
  </div>
  <div class="alert alert-info" *ngSwitchCase="'info'" role="alert">
    A simple info alert—check it out!
  </div>
  <div class="alert alert-danger" *ngSwitchDefault role="alert">
    A simple danger alert—check it out!
  </div>
</div>
